.tag{
    background: #119dee; 
    margin:2px; 
    height: 35px; 
    width: 180px; 
    border-top-right-radius: 200px 200px;
    border-bottom-right-radius: 200px 200px;
    margin-left:0px; 
    margin-right:10px;
    transition:  filter 0.1s, margin-right 0.1s ease-in-out;
    /*transition:  filter 0.1s, margin-right 0.1s ease-in-out;*/
  }

  .tag:hover{
    transition:  filter 0.1s, margin-right 0.1s ease-in-out;
    background: #0a5e8f;
    width: 200px;
    /*width: 190px;
    border:2px solid #333;
    filter: brightness(40%);
    background-color: rgba(33, 33, 33, 0);
    margin-left: 20px;*/
  }